@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model BD9.Pages.Offices.IndexModel
@*@Styles.Render("~/Content/css")*@
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Список Офисов</h2>
<table>
    <tr><th>Адрес</th><th>Электронная почта</th><th>Телефон</th></tr>
    @foreach (var user in Model.Offices)
    {
            <tr>
                <td>@user.Adress</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
            </tr>
    }
</table>
