@page "{id:int}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BD9.Pages.Models.EditModel
@*@Styles.Render("~/Content/css")*@
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование пользователя</h2>

<form method="post">
    <input asp-for="Mod.Id" type="hidden" />
    <p>
<label asp-for="Mod.Manufacture">Производитель</label><br />
<input asp-for="Mod.Manufacture" />
</p>
<p>
<label asp-for ="Mod.ModelName">Название модели</label><br />
<input asp-for="Mod.ModelName" />
</p>
<input type="submit" value="Сохранить" />
</form>
